<h1>Bienbenido a TabBar componet

</h1>

<ul class="boton">
    <button id=1 (click)="onClick($event)">Inicio</button>
    <button id=2 (click)="onClick($event)">calendario</button>
    <button id=3 (click)="onClick($event)">Documentacion</button>
    <button id=4 (click)="onClick($event)">Soporte</button>
    <button id=5 (click)="onClick($event)">Social</button>
</ul>
<p *ngIf="idPulsado===1">parrafo 1</p>
<p *ngIf="idPulsado===2">Parrafo 2</p>
<p *ngIf="idPulsado===3">parrafo 3</p>
<p *ngIf="idPulsado===4">parrafo 4</p>
<p *ngIf="idPulsado===5">parrafo 5</p>