<main>
    <select (change)="onChange($event)">
        <option *ngFor="let canal of listaCanales" [value]='canal'>{{canal}}</option>
    </select>
    <section>
        <div class="card" *ngFor="let serie of series">
            <p>Id: {{serie.id}}</p>
            <h3>Titulo: {{serie.titulo}}</h3>
            <hr>

            <div>
                <img [src]='serie.imagen'>
            </div>
            <p>Creador: {{serie.creador}}</p>
            <p>Rating: {{serie.rating}}</p>
            <p>Fechas {{serie.fechas}}</p>
            <p>{{serie.imagen}}</p>
            <p>Canal {{serie.canal}}</p>
            <button [routerLink]="['/Series,serie.id']">ver detalle</button>
        </div>
    </section>
</main>