<div class="container">
    <div class="titulo col-12">
        <H1>DETALLE POST</H1>
    </div>

    <div class="container">
        <div class="post col-12 col-sm6 col-md-3">
            <div class="colocacion">
                <label>Titulo:</label>
                <h3> {{objetoPost.title}}</h3>
            </div>
            <div class="colocacion">
                <label>Publicado en:</label>
                <span>{{objetoPost.category}}</span>
            </div>

            <label> Blog:</label>
            <textarea>{{objetoPost.body}}</textarea>

            <div class="colocacion">
                <label>Autor:</label>
                <small>{{objetoPost.author}}</small>
            </div>
            <div class="colocacion">
                <label>Fecha Creacion:</label>
                <span>{{objetoPost.createdAt | date :"shortDate"}}</span>
            </div>
        </div>
    </div>

</div>